html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    height : 800px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "hl-white header hr-white"
                         "cl-white calc cr-white"
                         "fl-white footer fr-white";
}

header {
    grid-area: header;
    display: grid;
    margin: auto;
}

footer {
    grid-area: footer;
}

#calc {
    grid-area: calc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
            "screen screen screen screen equals"
            "solar solar solar solar clear"
            "one two three plus minus"
            "four five six multi divide"
            "seven eight nine zero- .";
}

#screen {
    grid-area: screen;
    background-color: green;
}

#solar {
    grid-area: solar;
    background-image: url('images/solar-panels.jpg');
    background-size: contain;
}

#equals {
    grid-area: equals;
}

#clear {
    grid-area: clear;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#multi {
    grid-area: multi;
}

#divide {
    grid-area: divide;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero- {
    grid-area: zero-;
}
