html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategray;
    min-height: 500px;
}

body {
    display: grid;
    height : 100%;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "hl-white header hr-white"
                         "cl-white calc cr-white"
                         "fl-white footer fr-white";
}

header {
    grid-area: header;
    margin-top: 20px;
    margin-left: 10px;
    display: inline;
    color: goldenrod;
    text-shadow: 2px 2px 3px #ff2d95;
}

.make {
    text-align: left;
}

.model {
    text-align: left;
}

footer {
    grid-area: footer;
    height: 80px;
}

#calc-body {
    grid-area: calc;
    height: 100%;
    width: 100%;
    background-color: #b0b0b0;
    border-style: solid;
    border-width: 20px;
    border-color: #b0b0b0;
}

#calc {
    grid-area: calc;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
            "screen screen screen screen equals"
            "solar solar solar solar clear"
            "one two three plus minus"
            "four five six multi divide"
            "seven eight nine zero- .";
}

#screen {
    grid-area: screen;
    background-color: green;
    text-align: end;
    font-size: 36pt;
    font-weight: 300;
    color: white;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: scroll;
    margin-left: 10px;
    margin-right: 10px;
}

#screen-text {
    margin-left: 15px;
    margin-right: 15px;
    overflow: scroll;
}

#solar {
    grid-area: solar;
    background-size: contain;
}

a.button {
    grid-area: solar;
    background-size: contain;

    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-image: url('images/solar-panel.png');

    text-decoration: none;
    color: initial;
}

.calc-button {
    font-size: 2rem;
    background-color: white;
    border-style: solid;
    border-width: 1rem;
    font-weight: 300;
    outline: none;
    transition-duration: .2s;
}

.calc-button:active {
    position: relative;
    top: 5px;
    left: 5px;
    width: 95%;
    height: 95%;
    font-size: calc(0.95 * 2rem);
}

#equals {
    grid-area: equals;
}

#clear {
    grid-area: clear;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#multiply {
    grid-area: multi;
}

#divide {
    grid-area: divide;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero-;
}
